.app {
  text-align: center;
  align-items: center;
}

.container {
  display:flex;
  flex-direction: column;
  align-items: center;
}

canvas {
  background-image: url('../public/gameboard.png');
  image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
  image-rendering: -moz-crisp-edges;          /* Firefox                        */
  image-rendering: -o-crisp-edges;            /* Opera                          */
  image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
  image-rendering: pixelated; /* Chrome */
  background-size: cover;

  border: 2px solid black;
  min-width: 400px;
  max-width: 600px;
  margin: 5% 5%;
}

.score{
  margin: 5px 0px;
}

button{
  margin: 5px 0px;
}
